In [4]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/jeetshah/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jeetshah/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
df = pd.read_csv("labeled_dataset_4_categories.csv")  
df.dropna(subset=['Text'], inplace=True)

In [6]:
top_words = set(stopwords.words('english'))

def clean_and_tokenize(text):
    text = text.lower()
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word.isalpha()]  # keep only alphabetic tokens
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

In [7]:
df['tokens'] = df['Text'].apply(clean_and_tokenize)

In [8]:
transactions = []

for idx, row in df.iterrows():
    for token in row['tokens']:
        transactions.append({'transaction_id': idx + 1, 'item': token})

transactions_df = pd.DataFrame(transactions)

In [9]:
transactions_df

         transaction_id          item
0                     1       plastic
1                     1          mind
2                     1     assessing
3                     1         risks
4                     1  nanoplastics
...                 ...           ...
1415470            3448     interests
1415471            3448       working
1415472            3448        people
1415473            3448          make
1415474            3448      judgment

[1415475 rows x 2 columns]

In [10]:
transactions_df.to_csv("transactions.csv", index=False)